.container-flex{
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 600px;
}

.column div{
    border: 1px solid;
    display: flex;
    flex-grow: 1;
}

.column{
    flex-grow: 1;
    display: flex;
    flex-direction: column;

}

#btn-gridChange{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



